.u-section-1 .u-sheet-1 {
  min-height: 501px;
}

header {
  Position: sticky;
  Top: 0;
  Z-index: 1;
  background-color: white;
  }
 

.u-section-1 .u-form-1 {
  height: 403px;
  margin: 49px 570px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 293px;
  margin: -362px 0 118px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 370px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 242px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 150px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 88px;
  }
}